.card
{
    width: 240px;
    height: 500px;
    background-color: antiquewhite;
    overflow: hidden;
    border-radius: 18px;
    position: relative;
}
.pin_title{
    width: 0px;
    height: 0px;
    opacity: 0;
}

.modal{
    background-color: (0,0,0,0.2);
    width: 100%;
    transform:translate(-50%,-50%);
    height: 100%;
    top: 50%;
    /* overflow: hidden; */
    left: 50%;
    opacity: 0;
    transition-duration: 0.4s;
    z-index: 9999;
    position: absolute;

}

.modal:hover
{
    opacity: 1;
}

.modal .modal_head{

    width: 100%;
    height: 15%;
    position: fixed;
    top:0;
    justify-content: flex-end;
    align-items: center;
}
 
.modal .modal_head .save_card
{
    background-color: red;
    border-radius: 10px;
    color: white;
    display: flex;
    font-size:16px ;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-top:20px ;
    width: 62px;
    height: 30px;
    cursor: pointer;
}

.modal .modal_foot
{
    width: 100%;
    height: 15%;
    bottom: 0;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    display: flex; 
}

.pint_mock_icon_container
{
    background-color: white;
    width: 36px;
    height: 36px;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.pint_mock_icon
{
    width: 50%;
}

.modal .modal_foot .destination
{
    width: 130px;
    height: 36px;
    display: flex;
    font-weight: bolder;
    background-color: white;
    align-items: center;
    font-size: 16px;
    border-radius: 14px;
}
.modal .modal_foot .destination span
{
    overflow: hidden;
}


.pin_image
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.pin_image img
{
    max-height: 100%;
    max-width: 100%;
}
/* #pin_image{
    width: 400px;
    height: 225px;
    align-items: center;
    display: flex;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  } */